{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
<style>
    .filet{
        margin : 50px auto 0 auto;
        width:80px;
        height:15px;
        background:#18BC9C;
    }
</style>
    <div class="container">
        <h1 class=" text-center m-5">Nouvelle recette</h1>
        <div class="filet "></div>

        {{ include('recipe/_form.html.twig') }}

        <a type="button" class="btn btn-primary" href="{{ path('recipe_index') }}">Retourner aux recettes</a>
    </div>
{% endblock %}
